@import "reset";
@import "site";
@import "opc_sprite";
@import "../../public/vendor/bourbon/app/assets/stylesheets/bourbon";
@import "../../public/vendor/neat/app/assets/stylesheets/neat-helpers";
/* unfortunately, had to comment: resources/public/vendor/bitters/app/assets/stylesheets/_grid-settings.scss:1 */
@import "../../public/vendor/bitters/app/assets/stylesheets/grid-settings";
@import "../../public/vendor/neat/app/assets/stylesheets/neat";
@import "../../public/vendor/bitters/app/assets/stylesheets/base";

/* color pallete */
.green  { color: #78c114; }
.red    { color: #cb2c11; }
.yellow { color: #ecd90b; }

/* layout */
.container {
  @include outer-container;
}

.left-column {
  @include span-columns(3);
  @include outer-container;
  /* text-align: center; */
  .new-service-form {
    /* margin: 10px auto 10px auto; */
  }
  .parents {
    /* text-align: center; */
    .parent{
      .spacer {
        @include span-columns(3);
      }
      .consul-key {
        @include span-columns(6);
      }
      .delete-object {
        @include span-columns(3);
      }
    }
  }
}

.middle-column {
  @include span-columns(6);

  .opc_box {
    @include fill-parent;
  }
}

.right-column {
  @include span-columns(3);
}


.datacenters {
  padding: 20;
}

.datacenter {
  @include span-columns(6);
  position: relative; /* to hold the opc sprite */
  background-color: #323232;
  border: 1px solid #626262;
  padding-bottom: 30px;
}

.opc_box {
  position: relative; /* to hold the opc sprite */
  background-color: #323232;
  border: 1px solid #626262;
  padding-bottom: 30px;
}

.parent {
  padding-top: 10px;
}

/* Form Stylings
 *----------------------------------------------------------------------------- */

.delete-object button {
  background-color: #cb2c11;
  padding:  5px $small-spacing;
  color: white;
}

label {
  color: white;
}

/* Text Stylings
 *----------------------------------------------------------------------------- */

.detail_title {
  font-size: 3.5em; /* maybe use h1 ? */
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #78c114;
  margin: 0em 0em 0em .33em; /* to line up with .detail_state_text */
}


.detail_state_text {
  span {
    margin: 0em 0em 0em .7em; /* maybe use columns? */
    text-transform: uppercase;
  }
  h3 {
    margin: 10 0 0 0;
    padding: 0;
  }
}

.consul-key {
  color: white;
  margin: 3px;
}
