/* HTML5 display-role reset for old browsers */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Exo", sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* End of CSS Reset */
.body {
  font: 12px / 18px Arial, sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: #141414; }

.wrapper {
  padding: 50px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #141414; }

.content {
  min-height: 100%; }

/* Header
 *----------------------------------------------------------------------------- */
.header {
  height: 5em;
  background: #1a1a1a;
  padding-left: 5em;
  margin-top: -3em; }

.consulate_logo {
  padding-top: 1.2em;
  position: absolute;
  left: 1.2em; }

/* Footer
 *----------------------------------------------------------------------------- */
.footer {
  height: 2em;
  background: #1a1a1a;
  color: #aaaaaa;
  margin-bottom: -2em;
  padding-left: 1.2em;
  padding-top: 1em; }

/* Icons
 *----------------------------------------------------------------------------- */
.icon {
  width: 2em;
  height: 2em; }

/* Operational State Circle Indicator
 *----------------------------------------------------------------------------- */
.opc {
  position: absolute;
  top: 10px;
  right: -160px;
  /* why? why negative? */
  background: url(../img/opstate.png) 0 0 no-repeat;
  overflow: hidden;
  width: 329px;
  height: 329px;
  transform: scale(0.3) translate(-24em, -24em); }
  .opc.down2 {
    background-position: 0 0; }
  .opc.standby {
    background-position: -329 0; }
  .opc.test {
    background-position: -658 0; }
  .opc.down {
    background-position: -987 0; }
  .opc.up {
    background-position: -1316 0; }

/* unfortunately, had to comment: resources/public/vendor/bitters/app/assets/stylesheets/_grid-settings.scss:1 */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #3864a1;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b0b0b0; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a5a5a5;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #355d97; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/* color pallete */
.green {
  color: #78c114; }

.red {
  color: #cb2c11; }

.yellow {
  color: #ecd90b; }

/* layout */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.left-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */ }
  .left-column:last-child {
    margin-right: 0; }
  .left-column::after {
    clear: both;
    content: "";
    display: table; }
  .left-column .new-service-form {
    /* margin: 10px auto 10px auto; */ }
  .left-column .parents {
    /* text-align: center; */ }
    .left-column .parents .parent .spacer {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .left-column .parents .parent .spacer:last-child {
        margin-right: 0; }
    .left-column .parents .parent .consul-key {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .left-column .parents .parent .consul-key:last-child {
        margin-right: 0; }
    .left-column .parents .parent .delete-object {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .left-column .parents .parent .delete-object:last-child {
        margin-right: 0; }

.middle-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .middle-column:last-child {
    margin-right: 0; }
  .middle-column .opc_box {
    width: 100%; }

.right-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .right-column:last-child {
    margin-right: 0; }

.datacenters {
  padding: 20; }

.datacenter {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  position: relative;
  /* to hold the opc sprite */
  background-color: #323232;
  border: 1px solid #626262;
  padding-bottom: 30px; }
  .datacenter:last-child {
    margin-right: 0; }

.opc_box {
  position: relative;
  /* to hold the opc sprite */
  background-color: #323232;
  border: 1px solid #626262;
  padding-bottom: 30px; }

.parent {
  padding-top: 10px; }

/* Form Stylings
 *----------------------------------------------------------------------------- */
.delete-object button {
  background-color: #cb2c11;
  padding: 5px 0.75em;
  color: white; }

label {
  color: white; }

/* Text Stylings
 *----------------------------------------------------------------------------- */
.detail_title {
  font-size: 3.5em;
  /* maybe use h1 ? */
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #78c114;
  margin: 0em 0em 0em .33em;
  /* to line up with .detail_state_text */ }

.detail_state_text span {
  margin: 0em 0em 0em .7em;
  /* maybe use columns? */
  text-transform: uppercase; }
.detail_state_text h3 {
  margin: 10 0 0 0;
  padding: 0; }

.consul-key {
  color: white;
  margin: 3px; }

/*# sourceMappingURL=opc.css.map */
