/* HTML5 display-role reset for old browsers */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Exo", sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* End of CSS Reset */
.body {
  font: 12px / 18px Arial, sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: #141414; }

.wrapper {
  padding: 50px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #141414; }

.content {
  min-height: 100%; }

/* Header
 *----------------------------------------------------------------------------- */
.header {
  height: 5em;
  background: #1a1a1a;
  padding-left: 5em;
  margin-top: -3em; }

.consulate_logo {
  padding-top: 1.2em;
  position: absolute;
  left: 1.2em; }

/* Footer
 *----------------------------------------------------------------------------- */
.footer {
  height: 2em;
  background: #1a1a1a;
  color: #aaaaaa;
  margin-bottom: -2em;
  padding-left: 1.2em;
  padding-top: 1em; }

/* Icons
 *----------------------------------------------------------------------------- */
.icon {
  width: 2em;
  height: 2em; }

/* Operational State Circle Indicator
 *----------------------------------------------------------------------------- */
.opc {
  position: absolute;
  top: 10px;
  right: -160px;
  /* why? why negative? */
  background: url(../img/opstate.png) 0 0 no-repeat;
  overflow: hidden;
  width: 329px;
  height: 329px;
  transform: scale(0.3) translate(-24em, -24em); }
  .opc.down2 {
    background-position: 0 0; }
  .opc.standby {
    background-position: -329 0; }
  .opc.test {
    background-position: -658 0; }
  .opc.down {
    background-position: -987 0; }
  .opc.up {
    background-position: -1316 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* color pallete */
.green {
  color: #78c114; }

.red {
  color: #cb2c11; }

.yellow {
  color: #ecd90b; }

/* layout */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.left-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */ }
  .left-column:last-child {
    margin-right: 0; }
  .left-column::after {
    clear: both;
    content: "";
    display: table; }
  .left-column .new-service-form {
    /* margin: 10px auto 10px auto; */ }
  .left-column .parents {
    /* text-align: center; */ }
    .left-column .parents .parent .spacer {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .left-column .parents .parent .spacer:last-child {
        margin-right: 0; }
    .left-column .parents .parent .consul-key {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .left-column .parents .parent .consul-key:last-child {
        margin-right: 0; }
    .left-column .parents .parent .delete-object {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .left-column .parents .parent .delete-object:last-child {
        margin-right: 0; }

.middle-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .middle-column:last-child {
    margin-right: 0; }
  .middle-column .opc_box {
    width: 100%; }

.right-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .right-column:last-child {
    margin-right: 0; }

.datacenters {
  padding: 20; }

.datacenter {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  position: relative;
  /* to hold the opc sprite */
  background-color: #323232;
  border: 1px solid #626262;
  padding-bottom: 30px; }
  .datacenter:last-child {
    margin-right: 0; }

.opc_box {
  position: relative;
  /* to hold the opc sprite */
  background-color: #323232;
  border: 1px solid #626262;
  padding-bottom: 30px; }

/* Text Stylings
 *----------------------------------------------------------------------------- */
.detail_title {
  font-size: 3.5em;
  /* maybe use h1 ? */
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #78c114;
  margin: 0em 0em 0em .33em;
  /* to line up with .detail_state_text */ }

.detail_state_text span {
  margin: 0em 0em 0em .7em;
  /* maybe use columns? */
  text-transform: uppercase; }
.detail_state_text h3 {
  margin: 10 0 0 0;
  padding: 0; }

/*# sourceMappingURL=opc.css.map */
